<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="currentConditionsContainer">
<div class="w3-container">

  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h3> Current conditions in {{forecastArray[0].location.name}}, {{forecastArray[0].location.region}}</h3>
    </header>
    <div style="background-image: url('assets/images//isSunny.png');" class="w3-container">
      <img src="{{forecastArray[0].current.condition.icon}}" width="100" height="auto" class="center">
      <p class="dailyForecast">{{forecastArray[0].current.condition.text}}</p>
      <p class="dailyForecast">{{forecastArray[0].current.temp_f}} °F</p>
      <p class="dailyForecast"> Wind: {{forecastArray[0].current.wind_mph}} mph {{forecastArray[0].current.wind_dir}}</p>
    </div>
    
  </div>
</div>
</div>

</body>
<!--<h3>Day 1 avg</h3>
<p>UV: {{forecastArray[0].forecast.forecastday[0].day.uv}}</p>
<p>Chance of Rain: {{forecastArray[0].forecast.forecastday[0].day.daily_chance_of_rain}}%</p>
<p>Average Temp: {{forecastArray[0].forecast.forecastday[0].day.avgtemp_f}}°F</p>
<p>Chance of Snow: {{forecastArray[0].forecast.forecastday[0].day.daily_chance_of_snow}}%</p>

<h3>Day 2 avg</h3>
<p>UV: {{forecastArray[0].forecast.forecastday[1].day.uv}}</p>
<p>Chance of Rain: {{forecastArray[0].forecast.forecastday[1].day.daily_chance_of_rain}}%</p>
<p>Average Temp: {{forecastArray[0].forecast.forecastday[1].day.avgtemp_f}}°F</p>
<p>Chance of Snow: {{forecastArray[0].forecast.forecastday[1].day.daily_chance_of_snow}}%</p>

<h3>Day 3 avg</h3>
<p>UV: {{forecastArray[0].forecast.forecastday[2].day.uv}}</p>
<p>Chance of Rain: {{forecastArray[0].forecast.forecastday[2].day.daily_chance_of_rain}}%</p>
<p>Average Temp: {{forecastArray[0].forecast.forecastday[2].day.avgtemp_f}}°F</p>
<p>Chance of Snow: {{forecastArray[0].forecast.forecastday[2].day.daily_chance_of_snow}}%</p> -->

<!--<div *ngIf="hourlyForecastDay1.length > 0">
<h3>Hourly Forecast for your hike on {{forecastArray[0].forecast.forecastday[0].date}}</h3>

<div *ngFor="let r of hourlyForecastDay1; index as j">
    <span>{{r.time}}: {{r.temp_f}} °F | {{r.chance_of_rain}}% chance of rain. | {{r.chance_of_snow}}% chance of snow.</span>
    <img src="{{r.condition.icon}}" width="50" height="auto">
</div> -->

<!--Printing Day 1-->
<div *ngIf="hourlyForecastDay1.length > 0">
    <h2 class="weatherHeader">Hourly Forecast for your hike on {{forecastArray[0].forecast.forecastday[0].date}} </h2>
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let r of hourlyForecastDay1; index as j">
        <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description class="time">
                {{r.time}} 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="{{r.condition.icon}}" width="50" height="auto">
        <p>{{r.temp_f}} °F | {{r.chance_of_rain}}% chance of rain. | {{r.chance_of_snow}}% chance of snow.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<!--Printing Day 2-->
<div *ngIf="hourlyForecastDay2.length > 0">
    <h2 class="weatherHeader">Hourly Forecast for {{forecastArray[0].forecast.forecastday[1].date}}</h2>
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let r of hourlyForecastDay2; index as j">
        <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description class="time">
                {{r.time}} 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="{{r.condition.icon}}" width="50" height="auto">
        <p>{{r.temp_f}} °F | {{r.chance_of_rain}}% chance of rain. | {{r.chance_of_snow}}% chance of snow.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<p></p>
<!--Printing Day 3-->
<div *ngIf="hourlyForecastDay3.length > 0">
    <h2 class="weatherHeader">Hourly Forecast for {{forecastArray[0].forecast.forecastday[2].date}}</h2>
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let r of hourlyForecastDay3; index as j">
        <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description class="time">
                {{r.time}} 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <img src="{{r.condition.icon}}" width="50" height="auto">
        <p>{{r.temp_f}} °F | {{r.chance_of_rain}}% chance of rain. | {{r.chance_of_snow}}% chance of snow.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<br>
<head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>  
<div>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Item Weight (ounces)</th>
      </tr>
      <tr>
        <td>Water: Between {{waterUnitsLow}} and {{waterUnitsHigh}} cups hourly per person </td>
        <td>Range: {{waterWeightLow}}-{{waterWeightHigh}}</td>
      </tr>
      <tr>
        <td> {{caloriesIntake}} Calories per person</td>
     </tr>
      <tr *ngFor="let b of requiredItems">
        <td>{{b.itemName}}</td>
        <td>{{b.itemweight}}</td>
     </tr>
     <tr *ngFor="let b of bagSaveArray">
         <td>{{b.itemName}}</td>
         <td>{{b.itemweight}}</td>
     </tr>
    </table>
    <p>Pack Total Weight Range: {{totalWeightLow}}-{{totalWeightHigh}} pounds.</p>
</div>
<br>
<p></p>

<p *ngIf="activitiesArray.length > 0">We noticed that your hike is taking place near a national park. The following activitives are available, you may want to bring additional items.</p>
<p *ngIf="activitiesArray.length === 0">Sorry, We did not find a national park in your area!</p>
<br>

<div *ngIf="activitiesArray.length > 0">
    <div *ngFor="let a of activitiesArray">
    <ul>
        <li>{{a}}</li>
    </ul>
    </div>
</div>
<p></p>
<p>Would you like to add custom items to your list?</p>
<button (click)="MoveToCustomItems()">Add More items</button>  
<div>
  <br>
</div>

